################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventoryApp/bin
/InventoryApp/obj
/ConsoleApp1
/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
/ConsoleApp1/obj/project.assets.json
/ConsoleApp1/obj/project.nuget.cache
